body {
  background-color: #FFFFF5;
  padding-top: 1em;
}

.badge {
  float: right;
  background-color: #f0ad4e;
  font-size: 11px;
}

.tweetBox {
  background-color: #FFFFFF;
  padding: 0;
}

.smallcaps {
  font-variant: small-caps;
  font-size: 18px;
}

.panel-default {
  border-color: #CCCCFF;
}

.img-container {
  height: 75px;
  width: 75px;
  overflow: hidden;
  border-radius: 50%;
  margin: -2.5em auto;
  border: .3em solid #FFFFFF;
}

.img-container img {
  width: 70px;
  height: auto;
  padding-right: 1px;
}

.panel-default .panel-heading {
  background-color: #F0F0FF;
  border-color: #CCCCFF;
}

.userName {
  font-size: 14px;
  font-weight: bold;
  color: #f0ad4e;
}

.navbar-brand {
  color:#f0ad4e;
  font-weight: bold;
  font-size: 24px;
}

a {
  color:#777;
}

a:hover {
  color:#333;
  text-decoration: none;
}
